footer
  .footerleft
    img(src="/img/storefront-logo.svg" width="200px")
  .footerright
    a.link(href="/contact.html") work with us!
    ul
      li
        span |&emsp;
        a(href="mailto:hi@officinacreative.ca") Email
        span &emsp;|&emsp;
        a(href="http://twitter.com/officina_inc") Twitter
        span &emsp;|&emsp;
        a(href="http://www.facebook.com/officinacreative") Facebook
        span &emsp;|&emsp;
        a(href="http://instagram.com/officinacreative") Instagram
        span &emsp;|&emsp;
        a(href="http://dribbble.com/aprileelcich") Dribbble
        span &emsp;|&emsp;
    i &copy; Copyright Officina Creative Inc 2015      

script(type='text/javascript', src='/js/index.js')
