doctype html
html
  head
    title Officina Creative Inc | Graphic Design Studio
    script(src='https://use.typekit.net/uwf8brl.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
    style(type='text/css')
      .wf-loading
        visibility hidden
    link(href='./css/index.css', rel='stylesheet')
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0")
      
  body
    .content.fadeIn
      section.intro
        a(href="/index.html")
          img.logo(src="./img/officinalogo_light.svg" width="175px")

        nav
          ul.navlist
            li
              a.current(href="#") Portfolio
            li 
              a(href="/about.html") About
            li 
              a(href="/contact.html") Contact

      section.paper
        h4.title Featured Work &mdash;

        //- main image
        a(href="/petalandleaf.html")
          img.main(src="/img/petal-leaf.png")

        //- row 1

        a(href="/maisonapothecare.html")
          img.half.left(src="/img/maison.jpg")

        a(href="/vintagetype.html")
          img.half(src="/img/vintagetype.jpg")

        //- row 2

        a(href="colorsofsf.html")          
          img.half.left(src="/img/colorssf.jpg")

        a(href="/lemonaide.html")          
          img.half(src="/img/lemonaide.jpg")

        a(href="/brittanyandjeff.html")          
          img.half(src="/img/britjeff.jpg")

  include ./footer.jade