// fonts

$font-garamond = "garamond-premier-pro-display", "Garamond", serif

// colors

$black = rgba(0, 0, 0, 1)
$white = rgba(255, 255, 255, 1)
$gray = rgba(51, 51, 51, 1)
$paper = rgba(244, 243, 239, .6)

$lightgreen = rgba(199,217,201, 1)

// devices

$smartphone = '(max-width: 480px)'
$mobile-devices = '(max-width: 768px)'
$tablet = '(min-width: 481px) and (max-width: 1023px)'
$desktop = '(min-width: 1023px)'
$desktop-wide = '(min-width: 1200px)'
